body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    text-align: center;
}
video {
    width: 80%;
    max-width: 600px;
}
text{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}