body {
    background-color: palevioletred;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}
.Text1{
    margin:auto;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}
.Text2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}
.images{
    margin-top: 3%;
    width: 400px;
    height: auto;
}