body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width:100%;
    margin: 0;
    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    text-align: center;
}
video {
    width: 80%;
    max-width: 600px;
}
.image{
    max-width: 300px;
}
text{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.flower{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 0;
    margin-left: 0;
    pointer-events: none;
}
.flower div{
    position: absolute;
    display: block;
}

.flower div:nth-child(1){
    left: 20%;
    animation: animate 15s linear infinite;
}